/* UserEditProfileForm.scss */
.form-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    width: 80%; /* Same width as UserProfileDisplay */
    max-width: 800px; /* Same max-width */
    margin: 40px auto; /* Centering the form similarly */
    padding: 20px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.form-header {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.form-section {
    margin-bottom: 2rem;
}

.form-label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-input, .form-select {
    margin-bottom: 1.5rem;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ensure input fields are full width */
}

.form-button {
    border: 1px solid #e1e4e8;
    background-color: #f6f8fa;
    color: #24292e;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.form-button:hover {
background-color: #e1e4e8;
}

.readonly-input {
    background-color: #f0f0f0; /* 灰色背景色 */
  }
